.quote-text {
  padding-left: 1.6rem !important;
  font-family: Roboto cursive italic !important;
  font-size: 28px !important;
  color: #63A771 !important;
  line-height: 2.75rem !important;
  margin-bottom: 2rem !important;
}
