.search-box {
  padding: 10px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

.search-box input[type="text"] {
  padding: 10px;
  margin-right: 10px;
}

.search-box button {
  padding: 10px;
}

.searchable-item {
  display: block;
}
